<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Necessary to connect to PhraseLock USB-Key</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Necessary to connect to PhraseLock USB-Key</string>
	<key>NSCameraUsageDescription</key>
	<string>Necessary to scan QR-Codes</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
